<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User Admin</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
            rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body class="container row justify-content-center ">
<div class="container d-flex justify-content-center align-items-center">
    <div class="row justify-content-center">
        <h1>Add user Admin</h1>
    </div>
</div>
<form class="col-6" action="/users-admin/add" method="post" enctype="multipart/form-data">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
        <div class="col">
            <div data-mdb-input-init class="form-outline">
                <select name="categoryId" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <div th:each="category: ${categories}">
                        <option th:value="${category.id}" th:text="${category.categoryName}" value="1">One</option>
                    </div>
                </select>
            </div>
        </div>
        <!-- Name input -->
        <div class="col">
            <div data-mdb-input-init class="form-outline">
                <input type="text" name="productName" id="form6Example2" class="form-control border rounded" />
                <label class="form-label" for="form6Example2">User Name</label>
            </div>
        </div>
    </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" name="description" id="form6Example4" class="form-control border rounded" />
        <label class="form-label" for="form6Example4">Email</label>
    </div>


    <!-- Avatar input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="customFile">Choose Avatar Image</label>
        <input type="file" name="file" class="form-control border rounded" id="customFile" />
    </div>

    <!-- Add button -->
    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Add User</button>
</form>
</body>
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>