<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Categories</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row mb-2 justify-content-center">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1>Categories Management</h1>
            </div>
        </div>
    </div>
<!--Liên kết trang-->
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <!-- Liên kết quản lý sản phẩm -->
            <div class="col-auto">
                <a th:href="@{/products}" class="btn btn-primary">
                    <i class="fas fa-box-open"></i> Product
                </a>
            </div>
            <!-- Liên kết quản lý người dùng -->
            <div class="col-auto">
                <a th:href="@{/users}" class="btn btn-primary">
                    <i class="fas fa-users"></i> User
                </a>
            </div>
            <!-- Liên kết trang chủ -->
            <div class="col-auto">
                <a th:href="@{/home}" class="btn btn-primary">Go Home Page</a>
            </div>
            <!-- Form tìm kiếm -->
            <div class="col-auto">
                <form th:action="@{/categories/search}" class="d-flex">
                    <input type="search" id="form1" name="keyword" class="form-control me-2" placeholder="Search"/>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <!-- Nút đăng xuất -->
            <div class="col-auto">
                <button id="logoutButton" class="btn btn-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </div>
        </div>
    </div>

    <!--Body-->
    <div class="row justify-content-center">
        <div class="col-md-9 mt-3 mb-3 text-center">
            <ul class="list-group list-group-light">
                <a th:href="@{/categories/add}" class="btn btn-success" data-mdb-ripple-init>Add New Category +</a>

                <!-- Hiển thị thông báo không xóa được -->
                <div th:if="${not #strings.isEmpty(errorMessage)}" class="alert alert-danger p-1">
                    <p th:text="${errorMessage}"></p>
                </div>
                <!-- Hiển thị thông báo xóa thành công -->
                <div th:if="${not #strings.isEmpty(successMessage)}" class="alert alert-success p-1">
                    <p th:text="${successMessage}"></p>
                </div>

                <li th:each="category : ${categories}" class="list-group-item px-3 border-0 rounded-3 list-group-item-primary mb-2">
                    <span th:text="${category.categoryName}">Category Name</span>:
                    <span th:text="${categoryCounts[category.id] != null ? categoryCounts[category.id] : '0'}">Count</span> products
                    <!-- Nút Chỉnh Sửa -->
                    <a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-warning btn-sm float-end ms-1">
                        <i class="fas fa-pencil"></i>
                    </a>
                    <!-- Nút Xóa -->
                    <a th:href="@{/categories/delete/{id}(id=${category.id})}" class="btn btn-danger btn-sm float-end ms-1" onclick="return confirm('Are you sure you want to delete this category?');">
                        <i class="far fa-trash-can"></i>
                    </a>
                    <!-- Nút ẩn/hiện -->
                    <a th:href="@{/categories/status/{id}(id=${category.id})}" class="btn btn-sm float-end ms-1" th:classappend="${category.status} ? 'btn-info' : 'btn-danger'">
                        <i class="fas" th:classappend="${category.status} ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
<!--Nếu không có thông tin người dùng tức chưa đăng nhập sẽ chuyển hướng đến trang đăng nhập-->
<script th:inline="javascript">
    /*<![CDATA[*/
        var user = localStorage.getItem('user');
        console.log(user);
        if(user === null) {
            window.location.href =  window.location.origin + "/admin/login";
        }
    /*]]>*/
</script>

<!--Logout-->
<script th:inline="javascript">
    /*<![CDATA[*/
    // Đợi cho đến khi document tải xong
    document.addEventListener('DOMContentLoaded', (event) => {
        // Xử lý sự kiện click cho nút logout
        document.getElementById('logoutButton').addEventListener('click', function() {
            // Xóa user khỏi localStorage
            localStorage.removeItem('user');

            // Chuyển hướng người dùng đến trang đăng nhập
            window.location.href = "/admin/login";
        });
    });
    /*]]>*/
</script>
</html>