<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet" />
</head>
<body>
<!--h1-->
<div class="container">
    <div class="row mb-2 justify-content-center">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1>List Products Management</h1>
            </div>
        </div>
<!--Liên kết trang-->
        <div class="row justify-content-center">
            <!-- Liên kết quản lý category -->
            <div class="col-auto">
                <a th:href="@{/categories}" class="btn btn-primary">
                    <i class="fas fa-tags"></i> Categories
                </a>
            </div>
            <!-- Liên kết quản lý người dùng -->
            <div class="col-auto">
                <a th:href="@{/users}" class="btn btn-primary">
                    <i class="fas fa-users"></i> User
                </a>
            </div>
            <!-- Liên kết home page -->
            <div class="col-auto">
                <a th:href="@{/home}" class="btn btn-primary">
                    <i class="fas fa-home"></i> Home Page
                </a>
            </div>
                <!-- Form tìm kiếm sản phẩm -->
            <div class="col-auto">
                <form th:action="@{/products/search}">
                    <div class="input-group">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="search" id="form1" name="keyword" class="form-control" />
                            <label class="form-label" for="form1">Search</label>
                        </div>
                        <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <!-- Logout -->
            <div class="col-auto">
                <button id="logoutButton" class="btn btn-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </div>
        </div>
    </div>
<!--Body-->
    <div class="row">
        <!-- Hiển thị thông báo lỗi -->
        <div th:if="${not #strings.isEmpty(errorMessage)}" class="alert alert-danger p-1 text-center">
            <p th:text="${errorMessage}"></p>
        </div>
        <!-- Hiển thị thông báo thành công -->
        <div th:if="${not #strings.isEmpty(successMessage)}" class="alert alert-success p-1 text-center">
            <p th:text="${successMessage}"></p>
        </div>
        <div class="col">
            <!-- Liên kết thêm sản phẩm -->
            <a th:href="@{/products/add}" class="btn btn-success w-100">Add New Product +</a>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="bg-secondary">Product ID</th>
            <th class="bg-secondary">Image</th>
            <th class="bg-secondary">Product Name</th>
            <th class="bg-secondary">Category ID</th>
            <th class="bg-secondary">Description</th>
            <th class="bg-secondary">Price</th>
            <th class="bg-secondary">Quantity</th>
            <th class="bg-secondary">Status</th>
            <th class="bg-secondary">Created Date</th>
            <th class="bg-secondary">Last Update</th>
            <th class="bg-secondary">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">Product ID</td>
            <td>
                <img th:src="@{${product.imgUrl}}" src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="img-fluid" alt="Product Image" style="width: 100px; height: auto;">
            </td>
            <td th:text="${product.productName}">Product Name</td>
            <td th:text="${product.getCategory().id}">Category ID</td>
            <td th:text="${product.description}">Description</td>
            <td th:text="'$' +${product.price}">Price</td>
            <td th:text="${product.quantity}">Quantity</td>
            <td th:text="${product.status} ? 'Show' : 'Hide'">Status</td>
            <td th:text="${#temporals.format(product.createdDate, 'dd/MM/yyyy HH:mm:ss')}">Created Date</td>
            <td th:text="${#temporals.format(product.lastUpdated, 'dd/MM/yyyy HH:mm:ss')}">Last Update</td>
            <td>
                <!-- Nút Chỉnh Sửa -->
                <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-warning btn-sm float-end ms-1">
                    <i class="fas fa-pencil"></i>
                </a>
                <!-- Nút Xóa -->
                <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger btn-sm float-end ms-1" onclick="return confirm('Do you really want to delete this product?');">
                    <i class="far fa-trash-can"></i>
                </a>
                <!-- Nút ẩn/hiện -->
                <a th:href="@{/products/status/{id}(id=${product.id})}" class="btn btn-sm float-end ms-1" th:classappend="${product.status} ? 'btn-info' : 'btn-danger'">
                    <i class="fas" th:classappend="${product.status} ? 'fa-eye' : 'fa-eye-slash'"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var logedUser = localStorage.getItem('user');
    var user = /*[[${user}]]*/ null;
    console.log(user);
    console.log(logedUser);
    if(user != null) {
        localStorage.setItem('user', JSON.stringify(user));
    } else if(logedUser === null) {
        window.location.href =  window.location.origin + "/admin/login";
    }
    /*]]>*/
</script>

<!--Logout-->
<script th:inline="javascript">
    /*<![CDATA[*/
    // Đợi cho đến khi document tải xong
    document.addEventListener('DOMContentLoaded', (event) => {
        // Xử lý sự kiện click cho nút logout
        document.getElementById('logoutButton').addEventListener('click', function() {
            // Xóa user khỏi localStorage
            localStorage.removeItem('user');

            // Chuyển hướng người dùng đến trang đăng nhập
            window.location.href = "/admin/login";
        });
    });
    /*]]>*/
</script>
</html>