<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row mb-2 justify-content-center">
        <div class="row justify-content-center mb-3">
            <div class="col-auto">
                <h1>ADMIN PAGE</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <!-- Liên kết quản lý category -->
                <a th:href="@{/categories}" class="btn btn-primary"><i class="fas fa-tags"></i> Categories</a>
            </div>
            <div class="col-auto">
                <!-- Liên kết quản lý product -->
                <a th:href="@{/products}" class="btn btn-primary"><i class="fas fa-box-open"></i> Product</a>
            </div>
            <div class="col-auto">
                <!-- Liên kết quản lý user admin-users -->
                <a th:href="@{/users}" class="btn btn-primary"><i class="fas fa-users-cog"></i> User</a>
            </div>
            <div class="col-auto">
                <!-- Liên kết home page -->
                <a th:href="@{/home}" class="btn btn-primary"><i class="fas fa-home"></i> Home Page</a>
            </div>
            <!--logout -->
            <div class="col-auto">
                <button id="logoutButton" class="btn btn-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </div>
        </div>

    </div>
</div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>

<!--Login-->
<script th:inline="javascript">
    /*<![CDATA[*/
        var logedUser = localStorage.getItem('user');
        var user = /*[[${user}]]*/ null;
        console.log(user);
        console.log(logedUser);
        if(user != null) {
            localStorage.setItem('user', JSON.stringify(user));
        } else if(logedUser === null) {
            window.location.href =  window.location.origin + "/admin/login";
        }
    /*]]>*/
</script>

<!--Logout-->
<script th:inline="javascript">
    /*<![CDATA[*/
    // Đợi cho đến khi document tải xong
    document.addEventListener('DOMContentLoaded', (event) => {
        // Xử lý sự kiện click cho nút logout
        document.getElementById('logoutButton').addEventListener('click', function() {
            // Xóa user khỏi localStorage
            localStorage.removeItem('user');

            // Chuyển hướng người dùng đến trang đăng nhập
            window.location.href = "/admin/login";
        });
    });
    /*]]>*/
</script>

</html>
